body
{

margin: 0;
padding: 0;
font-family: 'Times New Roman';
background: #03264b;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
}
.box input[type = "text"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px;
    text-align: center;
    border:2px solid aqua;
    padding: 14px, 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
}